
body{
    background-color: #F7F7F2;
    padding: 5% 18% 10% 18%;

}

.ui.center.aligned.segment.padded{
    border-radius: 0 0 0 0;
    background-color: #F7F7F2;



}
.ui.search.dropdown{
    border-radius: 0 0 0 0;
    background-color: #F7F7F2;
    width: 50px;

}