
body{
    background-color: #F7F7F2;
    padding: 5% 18% 10% 18%;

}


.ui.search.dropdown{
    border-radius: 0 0 0 0;
    background-color: #F7F7F2;
    width: 50px;

}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}